@()(implicit request: RequestHeader)

@main {
<div id="game">
  <canvas id="viewport"></canvas>
</div>

<div id="audios" style="display: none">
  <audio id="music" preload loop autoplay>
    <source src="@routes.Assets.at("musics/main.ogg")" type="audio/ogg"></source>
    <source src="@routes.Assets.at("musics/main.mp3")" type="audio/mpeg"></source>
  </audio>
</div>

<script type="text/javascript">
  WEBSOCKET_URL = "@routes.Application.socket("USERNAME").webSocketURL()";
  CHUNK_SIZE = @models.Chunk.SIZE;
</script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/lodash.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/q.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/rAF.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/utils.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/network.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/player.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/camera.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/game.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
}
